**/__pycache__
**/.swp
**/.swo
**/.swn
**/pack/minpac
**/Session.vim
**/.undodir
cbonsai/progress

BetterDiscord/plugins/*.data.json
BetterDiscord/plugins/*.plugin.js
BetterDiscord/plugins/*.css
BetterDiscord/data/

spicetify/Backup/
spicetify/CustomApps/
spicetify/Extracted/
